.wrapper {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #969494;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.header {
    border: 1px solid #969494;
    padding: 8px 12px;
    background-color: #f0f0f0;
    text-align: center;
}
